@using movie.Models.Room
@using movie.Data
@model movie.Models.Room.RoomEdit


<div id="modal-edit-room" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Edit Room</h3>
            <button class="modal-close" data-modal-target="modal-edit-room">&times;</button>
        </div>
        <div class="modal-body">
            <form method="post" asp-page="Room" asp-page-handler="Edit" class="flex flex-col gap-3">
                <input type="text" hidden asp-for="Id">
                <div>
                    <label>Name</label>
                    <input
                        type="text"
                        class="input-custom"
                        asp-for="Name"
                        placeholder="Enter name"/>
                </div>
                <div>
                    <label>Seats</label>
                    <input
                        type="text"
                        class="input-custom"
                        asp-for="Seats"
                        placeholder="Enter seats"/>
                </div>
                <div>
                    <label>Start Time</label>
                    <input type="datetime-local" asp-for="StartTime" class="input-custom">
                </div>
                <div>
                    <label>End Time</label>
                    <input type="datetime-local" asp-for="EndTime" class="input-custom">
                </div>
                <div>
                    <label>Staff</label>
                    <select asp-for="UserId" class="input-custom">
                        <option value="" selected>Select Staff</option>
                        @foreach (var u in FakeData.Users)
                        {
                            <option value="@u.Id">@u.Name</option>
                        }
                    </select>
                </div>
                <div>
                    <label>Status</label>
                    <select asp-for="RoomStatus" class="input-custom">
                        <option value="@RoomStatus.Available">@RoomStatus.Available</option>
                        <option value="@RoomStatus.Busy">@RoomStatus.Busy</option>
                    </select>
                </div>
                <div class="">
                    <button type="submit" class="btn bg-primary text-white">Save</button>
                    <button class="btn bg-gray-500 text-white" data-modal-target="modal-edit-room">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</div>