@page
@using movie.Models.User
@using movie.Models.ViewModel
@model movie.Pages.Employee

@{
    Layout = "Shared/_LayoutAdmin";
}

<style scoped>
    .table tr td {
        width: calc(100%/6);
    }
</style>


<div class="mt-20">
    <h3 class="text-3xl font-semibold text-primary text-center">Manage Employee</h3>
    <div class="flex justify-end mb-3">
        <button class="btn bg-primary text-white" data-modal-target="modal-create-employee">Add New User</button>
    </div>
    <div class="my-3 flex items-end flex-col">
        <p class="text-lg font-semibold">Hide column</p>
        <div class="flex items-center gap-3">
            <div class="checkbox-control">
                <input id="cb-id" type="checkbox">
                <label for="cb-id">Id</label>
            </div>
            <div class="checkbox-control">
                <input id="cb-name" type="checkbox">
                <label for="cb-name">Name</label>
            </div>
            <div class="checkbox-control">
                <input id="cb-email" type="checkbox">
                <label for="cb-email">Email</label>
            </div>
            <div class="checkbox-control">
                <input id="cb-dob" type="checkbox">
                <label for="cb-dob">Date Of Birth</label>
            </div>
            <div class="checkbox-control">
                <input id="cb-role" type="checkbox">
                <label for="cb-role">Role</label>
            </div>
            <div class="checkbox-control">
                <input id="cb-actions" type="checkbox">
                <label for="cb-actions">Action</label>
            </div>
        </div>
    </div>
    <div class="shadow">
        <table class="table min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Date of birth</th>
                <th scope="col">Role</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            @foreach (var u in Model.ListUser)
            {
                <tr>
                    <td >
                        <div class="table-text">@u.Id</div>
                    </td>
                    <td >
                        <div class="table-text">@u.Name</div>
                    </td>
                    <td >
                        <div class="table-text">@u.Email</div>
                    </td>
                    <td >
                        <div class="table-text">
                            @if (@u.Day != null && @u.Month != null && @u.Year != null)
                            {
                                <span>@u.Month @u.Day, @u.Year</span>
                            }
                        </div>
                    </td>
                    <td >
                        <div class="table-text">@u.Role</div>
                    </td>
                    <td >
                        <div class="flex items-center">
                            <button class="btn" data-obj='@Json.Serialize(u)' data-modal-target="modal-edit-employee">
                                <i class="fas fa-edit"></i>
                            </button>
                            <form method="post" asp-page="Employee" asp-page-handler="Remove" asp-route-id="@u.Id">
                                <button type="button" class="btn btn-confirm">
                                    <i class="fas fa-trash"></i>
                                </button>
                                @await Html.PartialAsync("Shared/_PopupConfirm", new PopupConfirmModel()
                                       {
                                           Message = "Are you sure you want to delete this?"
                                       })
                            </form>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    @await Html.PartialAsync("Shared/_Pagination", Model.PaginateModel)
    @await Html.PartialAsync("Shared/Employee/_EditEmployeeModal", new UserEdit())
    @await Html.PartialAsync("Shared/Employee/_CreateEmployeeModal", new UserCreate())
</div>

@section Scripts
{
    <script src="~/js/employee.js"></script>
    <script src="~/js/table.js"></script>
}